@media screen and (max-width: 800px) {
    .dog-picture {
        margin-right:-40% !important;
    }
    .title{
      font-size: 2rem !important;
    }
  }
@media screen and (max-height: 800px) {
    .dog-picture {
        opacity: 0.5;
    }
  }
.title {
  font-size: 5rem;
  font-weight: 600;
  font-family: Tahoma, sans-serif;
  user-select: none;
  text-align: center;
}
.under-title{
  font-size: 20px;
  font-weight: 300;
  color: grey;
}

.image-container {
    position: absolute;
    bottom: 0;
    z-index: -1;

    width: 100%;
    overflow: hidden ;
  }  
.dog-picture {
    position:relative;
    float:right !important;

    margin-right:20%;
}

.home-button{
  margin-top: 8vh; /* margin-top: 8vh; margin-left: 20vh; */

  background-color: var(--secondary-color) !important;
  color: #f5f5f5 !important;

  display: flex !important;
  align-items: center !important; 
  justify-content: center !important;
  
  border: 0 !important;
  
  font-size: large !important;
  font-weight: bold !important;
  
  transition: 0.2s !important;
}
.home-button:hover{
  transform: scale(1.05);
}