body{
    background-color: var(--tertiary-color) !important;
  }
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.UserDB{
    /*padding-bottom: 5vh;*/
    margin-left: 40%;
    background-color: var(--secondary-color) !important;
    --bs-btn-bg:var(--secondary-color) !important;
    --bs-btn-border-color:var(--secondary-color) !important;
    --bs-btn-hover-bg:var(--secondary-color) !important;
    --bs-btn-active-bg:var(--secondary-color) !important;
    --bs-btn-disabled-bg:var(--secondary-color) !important;
    --bs-btn-disabled-border-color:var(--secondary-color) !important;
    --bs-btn-hover-border-color:var(--secondary-color) !important;
    --bs-btn-active-border-color:var(--secondary-color) !important;
}

h2{
    margin: 4vh !important;
}