.footer {
	height: 75px;
    position: fixed !important;
    bottom: 0;
    top: auto !important;
    background-color: rgba(47, 72, 88, 1);
}

.invisible{
   visibility: hidden;
   height: 75px;
}

.visible{
    visibility: visible;
    height: 75px;
 }