.tabsStyle{
    margin-left: 2%;
    margin-top: 2%;
}

.taille{
    width: 98% !important;
    --bs-nav-tabs-border-color:None !important;
}

a{
    --bs-nav-link-color: #e06112;
    --bs-nav-link-hover-color: #F2620A;
    color: #e06112;
    font-size: 1.2rem !important;
}

.Image{
    height: 20%;
    width: 20%;
}

.caseStyle{
    background-color: #212529;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

