.container {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.green-icon{
    filter:brightness(0.5) sepia(1) saturate(10000%) hue-rotate(110deg) ;
  }
  .red-icon{
    filter: brightness(0.5) sepia(1) saturate(10000%);
  }