.container {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.green-icon{
    filter:brightness(0.5) sepia(1) saturate(10000%) hue-rotate(110deg) ;
  }
  .red-icon{
    filter: brightness(0.5) sepia(1) saturate(10000%);
  }

.pet-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .pet-image-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .pet-image-container:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
  }

  .row{
    margin: 8px 0 0 0 !important;
  }

  .pet-name{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .content{
    font-size: 20px !important;
  }

  .service{
    font-size: 1.2rem;
    font-weight: 700;
  }

  .patate{
    font-size: 15rem !important;
    font-weight: 700 !important;
    background-color: red !important;
  }
