@media screen and (max-width : 992px) { 
    .homeContent1{
        font-size: 75% !important;
        }

    .homeContent2{
        font-size: 150% !important;
        height: 125vh !important;
        }
    
    .homeContent3{
    font-size: 150% !important;
    }

} 


html {
    scroll-snap-type: y mandatory;
}

.scrollDiv{
    scroll-snap-align: start; /* snap align start */
}


.homeContent1{
    /*Configuration image*/
    background:url("../../Assets/homeBackGround1.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*Configuration text*/
    max-width: 100%;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.homeContent1 h1{
    font-size: 400%;
}


.homeContent1 p{
    margin-top: 10%;
    font-size: 200%;
}

.homeContent2{
    /*Configuration page*/
    background: var(--tertiary-color) no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    /*Configuration text*/
    max-width: 100%;
    font-family: Arial, sans-serif;
    font-size: 200%;
    text-align: center;
    
}

#counter-home{
    justify-content: center;
    align-items: center;
    max-width:90%;
    border: none;
    border-radius: 30px;
    margin-left:5%;
    margin-top: 20%;
}

#counter-home img{
    max-width: 20%;
    max-height: 20%;
}

#number-counter-home{
    color:#F26419;
    font-weight: bold;
    font-size: 160%;
}

#text-counter-home{
    color:#656B79;
    font-size: 80%;
}

#imgCat{
    border-radius: 10% 10% 10% 10%;
    max-width: 100%;
    float:right;
    margin-top: 25%;
}

.homeContent3{
    /*Configuration page*/
    background: var(--secondary-color)no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*Configuration text*/
    max-width: 100%;
    font-family: Arial, sans-serif;
    font-size: 200%;
    text-align: center;
    color:white;

    
}

#imgChicken{
    border-radius: 10%;
    max-width: 100%;
    float: left;
}
.chicken-col{
    display: flex;
    justify-content: center;
    align-items: center;
}