.body{
    background-color: var(--tertiary-color);
  }
  
  .top-container{
    margin-top: 7vh;
  }
  .new-mesannonce-button:hover{
    transform: scale(1.02);
  }
  
  .no-result-message{
    margin-top: 7vh;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
  }