body{
    background-color: var(--tertiary-color)
}

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*CSS for the organisation of the page*/
.title-container{
    text-align: center;
    font-size: 400% !important;
    margin-bottom: 5vh;
}


.main-container{
    max-width: 100%;
    text-align: center;
}

.button{
    background-color: var(--secondary-color) !important;
    border: 0 !important;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #f5f5f5 !important;
    outline: none;
    cursor: pointer;
    font-size: large !important;
    font-weight: bold !important;
}
.button:hover{
    transform: scale(1.02);
    transition: 0.2s !important;
}

.form-control:focus{
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ced4da !important;
}

.linkRegistration{
    color: var(--secondary-color) !important;
    font-weight:500 !important;
    text-decoration: none !important;
}

.custom-form-label{
    float: left;
}

.form-login{
    max-width: 500px;
}

#error-message{
    color: red !important;
}