/*Carte annonce*/
.annonce-card{
    background-color: #1e1e1e;
    border-radius: 10px;
    margin: 10px;
    box-shadow: #1e1e1e 0 0 3px 0;
    transition: 0.2s;
  }
  .annonce-card:hover{
    transform: scale(1.01);
    box-shadow: #1e1e1e 0 0 7px 0;
  }

/*Taille du nom et de la race*/
  .annonce-card .annonce-name, .annonce-card .annonce-race {
    font-size: 1.2em;
    font-weight: bold;
  }

/*Photo de l'annonce*/
  .annonce-picture{
    width: 80px !important;
    height: 80px !important;
  }

/*Nom du User, localité et date de l'annonce*/
.annonce-user-firstname, .annonce-localite, .annonce-date{
  float: right;
  color: grey;
}
.annonce-user-firstname{
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/*Poids de l'animal*/
.annonce-pets-information{
  color: grey;
  font-size: 0.8em;
  white-space: nowrap;
}

/*Description de l'annonce*/
.annonce-info-checkbox{
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
  font-size: 0.8em;
}

/*Stérilisation animal*/
.annonce-sterile-checkbox{
  margin-top: 10px;
  color: rgb(62, 62, 62);
  font-size: 1.1em;
}

/*Type d'annonce*/
.type-annonce{
  color: grey;
  font-size: 0.8em;
}

input[type="checkbox"]{
  appearance: none;
  border-radius: 0.2em;
  height: 1em;  
  width: 1em;
  vertical-align: -0.13em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]:checked {
  background-color: rgb(25, 177, 46, 0.4);
  border: 1px solid rgb(25, 177, 46, 1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  
}

input[type="checkbox"]:not(:checked) {
  background-color: rgba(161, 54, 54, 0.2);
  border: 1px solid rgb(161, 54, 54);
}

.green-icon{
  filter:brightness(0.5) sepia(1) saturate(10000%) hue-rotate(110deg) ;
}
.red-icon{
  filter: brightness(0.5) sepia(1) saturate(10000%);
}