.body{
  background-color: #F2F3F8;
}

.top-container{
  margin-top: 7vh;
}

.top-container h2{
  font-size: 2.5rem;
  font-weight: 600;
  color: #3C3C3C;
}

.new-annonce-button-row{
  float: right !important;
}
.new-annonce-button{
  background-color: #F2620A !important;
  border: 0 !important;
  border-radius: 10px !important;
  color: #F2F3F8 !important;
  transition: 0.2s !important;
  font-size: large !important;
  font-weight: bold !important;
}
.new-annonce-button:hover{
  transform: scale(1.02);
}

.annonces-container{
  margin-top: 3vh;
}

.no-result-message{
  margin-top: 7vh;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: grey;
}